* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
}
.header {
    width: 85%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.header h1 {
    font-size: 50px;
}
.main {
    width: 85%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.cardHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px
}
.card {
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    /* margin-right: 15px; */
}
.card img {
    width: 220px;
    height: 320px;
    margin: 15px 0;
}
.name {
    font-size: 20px;
    font-weight: 600;
}
.author {
    font-size: 18px;
}
.delete {
    border: none;
    border-bottom: 1px solid black;
    background-color: white;
    visibility: hidden;
}
.delete p {
    padding: 3px 4px;
    font-weight: 500;
}
.card:hover {
    border: 1px solid black;
}
.card:hover .delete {
    visibility: visible;
}
.delete:hover {
    background-color: rgba(230, 229, 229, 0.477);
}
.addBook {
    width: 220px;
    height: 423px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addBook .addBtn {
    text-align: center;
    font-size: 40px;
    border: 1px solid rgb(150, 149, 149);
    color: rgb(150, 149, 149);
    border-radius: 50%;
    padding: 4px 17px;
    background-color: transparent;
}
.addBook:hover .addBtn {
    border: 1px solid black;
    color: black;
}